# .dockerignore
.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitignore
.travis.yml
.dockerignore
Dockerfile*
docker-compose*
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.history
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db
